/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}

button,
img {
  cursor: pointer;
}

.primary_button {
  background-color: #fd6e0a;
  color: #fff;
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 2.7rem;
  padding: 1rem 2.5rem;
  border-radius: 5px;
  border: none;
  outline: none;

  cursor: pointer;
  display: inline-block;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.secondery_button {
  color: #fd6e0a;
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 2.7rem;
  padding: 1rem 2.5rem;
  border-radius: 5px;
  border: 1px solid #fd6e0a;
  outline: none;

  cursor: pointer;
  display: inline-block;
  margin-left: 2rem;
  background-color: transparent;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.primary_button:hover,
.secondery_button:hover {
  box-shadow: 0 3px 8px 1px #c4bdba;
}

.svg_icons {
  height: 2rem;
}

.icon_carrying_button {
  display: flex;
  align-items: center;
  gap: 1rem;
}
