header {
  min-height: 100vh;
  background: #fff8f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding-left: 5rem; */

  background-image: url("../images/header_bg.png"),
    url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, top left;
  background-size: 70rem, contain;
  background-origin: content-box;
}

.navigation_bar {
  padding: 3.5rem 18rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navigation_bar h2 {
  font-size: 3.6rem;
  font-weight: 800;
}

.navigation_bar h2 .segment {
  color: #fd6e0a;
}

.navigation_bar .nav_links {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  gap: 5rem;
}

.navigation_bar .nav_links li {
  color: #474747;
}

/* banner portion */

.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.banner .left {
  padding: 0 5rem 0 18rem;
}

.banner .left h4 {
  font-size: 4.5rem;
  font-weight: 600;
  color: #474747;
}

.banner .left h1 {
  font-size: 6.5rem;
  font-weight: 700;
}

.banner .left p {
  font-size: 1.8rem;
  font-weight: 400;
  color: #757575;
  margin: 5px 0 2.5rem 0;
}

.banner .dev_image {
  height: 57rem;
  margin-right: 5rem;
}
